
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
